@font-face {
    font-family: "Strait-Regular";
    src: url(Fonts/strait/Strait-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url("Fonts/Roboto/Roboto-Light.ttf");
}

.body {
    margin: 0;
    background-color: rgb( 248, 244, 244);
    padding: 0;
}

.top-bg-color {
    background-color: #555f70;
    background-size: cover;
    display: block;
    height: 100px;
}

.ico {
    float: left;
    display: block;
    margin: 0;
}

.ico-image {
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    box-shadow: 2px 2px #1e1414;
    border-radius: 50%;
}

.login-but {
    float: right;
    margin-top: 70px;
    margin-right: 20px;
}

.topnav {
    float: left;
    
}

.h {
    font-family: "Roboto-Light";
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: 100;
    border: 0 none;
    position: relative; 
    outline: none;
    
}
.h:after, .h:before{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}
.topNav > .h{
    text-decoration: none;
    color: #fff;
    z-index: 1;
    margin-top: 8px
}
.topNav > .h:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fff;
  visibility: hidden;
  border-radius: 2px;
  transform: scaleX(0);
  transition: .25s linear;
    ;
}
.topNav > .h:hover:before,
.topNav > .h:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

#myTopNav {
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 12px;
}

.login-but {
    -webkit-appearance: none;
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 5%;
    background: rgba(85, 95, 112, 0.5);
    color: #fff;
    font-weight: 32px;
    outline: 0;
    text-decoration: none;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

.login-but:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.login-but a {
    font-family: "Roboto-Light";
    font-size: 21px;
    color: #fff;
    text-decoration: none;
}
.slide{
    height: 650px;
    width: 100%;
}