    @font-face {
        font-family: "Strait-Regular";
        src: url(Fonts/strait/Strait-Regular.ttf);
    }
    
    @font-face {
        font-family: "Roboto-Light";
        src: url("Fonts/Roboto/Roboto-Light.ttf");
    }
    
    @font-face {
        font-family: "Montserrat-Regular";
        src: url("Fonts/Montserrat/Montserrat-Regular.otf");
    }
    
    .body {
        margin: 0;
        background-color: rgb( 248, 244, 244);
        padding: 0;
    }
    
    .top-bg-color {
        background-color: #555f70;
        background-size: cover;
        height: 100px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    .ico {
        float: left;
        display: block;
        margin: 0;
        position: fixed;

    }
    
    .ico-image {
        float: left;
        margin-top: 18px;
        margin-left: 20px;
        box-shadow: 2px 2px #1e1414;
        border-radius: 50%;
        position: fixed;
        z-index: 99;
    }
    
    .login-but {
        float: right;
        margin-top: 70px;
        margin-right: 20px;
    }
    
    .topnav {

        float: left;
    }
    
    .h {
        font-family: "Roboto-Light";
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        margin-right: 20px;
        font-weight: 100;
        border: 0 none;
        position: relative;
        outline: none;
    }
    
    .h:after,
    .h:before {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .topNav > .h {
        text-decoration: none;
        color: #fff;
        z-index: 1;
        margin-top: 8px
    }
    
    .topNav > .h:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: #fff;
        visibility: hidden;
        border-radius: 2px;
        transform: scaleX(0);
        transition: .25s linear;
        ;
    }
    
    .topNav > .h:hover:before,
    .topNav > .h:focus:before {
        visibility: visible;
        transform: scaleX(1);
    }
    
    #myTopNav {
        margin-top: 70px;
        margin-left: 150px;
        margin-bottom: 12px;
    }
    
    .login-but {
        -webkit-appearance: none;
        display: inline-block;
        cursor: pointer;
        border: 0;
        border-radius: 5%;
        background: rgba(85, 95, 112, 0.5);
        color: #fff;
        font-weight: 32px;
        outline: 0;
        text-decoration: none;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
    }
    
    .login-but:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    .login-but a {
        font-family: "Roboto-Light";
        font-size: 21px;
        color: #fff;
        text-decoration: none;
    }
    
    
    /*login-page style*/
    
    .log-container {
        height: 500px;
        padding: 25px 50px 60px 90px;
        background-color: #efefef;
        margin-right: 420px;
        margin-left: 450px;
        margin-top: 50px;
        margin-bottom: 50px;
        /*border: 2px solid rgba(0, 0, 0, 0.5);*/
    }
    
    #log-text {
        color: #000;
        text-decoration: none;
        font-family: "Montserrat-Regular";
    }
    
    .form-size {
        width: 280px;
        height: 6px;
    }
    
    .item {
        height: 200px;
        background: RED;
        width: 100%;
        color: #000;
    }
    
    .reset-margin {
        margin: 0;
    }
    
.font-log{
    font-size: 14.5px;
    margin: 0;
    padding: 0;
}
    .log-butt {
        font-family: "Roboto-Light";
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 12px 25px 12px 25px;
        font-size: 13px;
    }
    
    .notAmember-yet {
        font-size: 27px;
        text-align: center;
        color: #000;
        text-decoration: none;
        font-family: "Montserrat-Regular";
    }
    
    #create-acc {
        text-align: center;
        font-family: "Roboto-Light";
    }
    
    .not-member-container p {
        margin-left: 50px;
        padding-right: 0;
    }
    
    .head-image {
        height: 480px;
        background-size: contain;
    }
    
    .font-Roboto {
        font-family: "Roboto-Light";
    }
    /* register-page style */
    
    .Create-acc-container {
        height: 400px;
        margin: 100px 270px 100px 270px;
        background-color: #efefef;
        padding: 8px;
    }
    
    .log-details {
        font-size: 24px;
        padding-top: 10px;
        padding-left: 10px;
        font-family: "Montserrat-Regular";
    }
    
    #reg-width {
        width: 280px;
    }
    
    .form-margin {
        margin-left: 15px;
    }
    
    .form-left {
        float: left;
    }
    
    .personal-att {
        margin-left: 65px;
    }
    
    .personal-details {
        margin-left: 53px;
    }
    
    .form-style {
        border-left: 2px solid #000;
        margin-left: 70px;
        padding-left: 24px;
    }
    
    .date-form {
        width: 50px;
        height: 35px;
    }
    
    .fl {
        display: inline-block;
    }

    .adminHeader h1  {
        font-family: "Roboto-Light";
        text-decoration: none;
        color: #fff;
        padding-top: 30px;
        padding-left: 250px;
        border: 0 none;
        position: relative;
        outline: none;
    }

    .sidebar {
        position: relative;
        background-color:#eeeeee;
        height: auto;
        width: 300px;
        float: left;
        padding: 5px; 
        
}


    .sidebar h4{
        font-family: "Roboto-Light";
        text-decoration: none;
        color: #555f70;
        padding-top: 70px; 
        font-weight: bold;
    }
        
    

    .sidebar_links{
        padding-left: 30px;
    }


    .sidebar li {
        font-family: "Roboto-Light";
        font-size: 18px;
        text-decoration: none;
        color: #555f70;
        font-weight: 100;
        position: relative;
    }

    .sidebar a {
        font-family: "Roboto-Light";
        font-size: 18px;
        text-decoration: none;
        color: #555f70;
        font-weight: 100;
        position: relative;
    }

    .content {
        width: 1000px;
        height: auto;
        float: left;
        padding: 10px;   
        
          
    }

    .roomType{
        margin-top: 180px;
      
    }

    .roomType h3 {
        margin-top: 50px;
        margin-left: 40px; 
    }

    .roomType img {
        width: 400px;
        height: 230px;
        margin-top: 50px;
        margin-left: 20px; 
        display: inline;
    }


    .imgRow{
        display: inline;
    }

    .imgDescription{
        display: inline-block;
    }

    .imgDescription p{
        text-align: left;
        margin-left: 30px;
    }





    