    @font-face {
        font-family: "Strait-Regular";
        src: url("public/Fonts/strait/Strait-Regular.ttf");
    }
    
    @font-face {
        font-family: "Roboto-Light";
        src: url("grey_hotel/public/Fonts/Roboto/Roboto-Light.ttf");
    }
    
    @font-face {
        font-family: "Montserrat-Regular";
        src: url("public/Fonts/Montserrat/Montserrat-Regular.otf");
    }
    
    .error_message {
        color: red;
        font-size: 13px;
        padding: 5px;
        width: 280px;
        float: left;
    }

    .body {
        margin: 0;
        background-color: rgb( 248, 244, 244);
        padding: 0;
    }
    

    .ico {
    float: left;
    display: block;
    margin: -13px;
    width: 80px;
}
    
.ico-image {
    float: left;
    margin-top: 18px;
    margin-left: 30px;
    box-shadow: 2px 2px #1e1414;
    border-radius: 50%;
}

.top-bg-color {
    background-color: #383d41;
    background-size: cover;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    display: block;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    text-decoration: none;
    position: absolute;
    background-color: #383d41;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .topnav {
    margin-top: 50px;
    float: right;
    margin-left: 100px;
    width: 100%;
    top: 0;
    position: fixed;
    display: inline;
}

    .topnav a:hover{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
    
    .h {
        font-family: Calibri;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        margin-right: 20px;
        font-weight: 100;
        border: 0 none;
        position: relative;
        outline: none;
    }
    
    .h:after,
    .h:before {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .topNav > .h {
        text-decoration: none;
        color: #fff;
        z-index: 1;
        margin-top: 8px
    }
    
    .topNav > .h:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: #fff;
        visibility: hidden;
        border-radius: 2px;
        transform: scaleX(0);
        transition: .25s linear;
        ;
    }
    
    .topNav > .h:hover:before,
    .topNav > .h:focus:before {
        visibility: visible;
        transform: scaleX(1);
    }
    
    #myTopNav {
        margin-top: 50px;
        margin-left: 100px;
        margin-bottom: 12px;
    }
    

    .login-but {
        -webkit-appearance: none;
        display: inline-block;
        cursor: pointer;
        border: 0;
        border-radius: 5%;
        background: rgba(85, 95, 112, 0.5);
        color: #fff;
        font-weight: 32px;
        outline: 0;
        text-decoration: none;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
    }
    
    .login-but:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    .login-but a {
        font-family: Calibri;
        font-size: 21px;
        color: #fff;
        text-decoration: none;
    }
    
    .slide {
        height: 650px;
        width: 100%;
    }
    /*login-page style*/
    
    .log-container {
        height: 410px;
        padding: 25px 50px 60px 90px;
        background-color: #efefef;
        margin-right: 420px;
        margin-left: 450px;
        margin-top: 150px;
        margin-bottom: 50px;
        /*border: 2px solid rgba(0, 0, 0, 0.5);*/
    }
    
    #log-text {
        color: #000;
        text-decoration: none;
        font-family: Calibri;
    }
    
    .form-size {
        width: 300px;
        height: 8px;
        padding: 5px;
    }
    
    .item {
        height: 200px;
        background: RED;
        width: 100%;
        color: #000;
    }
    
    .reset-margin {
        margin: 0;
    }
    
    .font-log{
        font-size: 14.5px;
        margin: 0;
        padding: 0;
    }

    .log-butt {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 12px 25px 12px 25px;
        font-size: 13px;
    }


    .head-image {
        height: 480px;
        background-size: contain;
    }
   

    
    #reg-width {
        width: 300px;
    }
    
    .form-margin {
        margin-left: 15px;
    }
    
    .form-left {
        float: left;
    }
    
    .personal-att {
        margin-left: 0px;
    }












/* COMMON STYLES --------------------------------------------------------- */
.error_message {
    color: red;
    font-size: 13px;
    padding: 5px;
    width: 280px;
    float: left;
}

.table th, td{
    width: 250px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.a{
    text-decoration: none;
}

.a:hover{
    color: #555f70;
    text-decoration: none;
}

.delete{
    text-decoration: none;
    color: red;
}

.delete:hover{
    color: #555f70;
    text-decoration: none;
}


.link{
    margin-left: 500px;
    margin-top: 0px;
    color: #555f70;
    text-decoration: none;
    position: absolute;
}

.link:hover{
    font-weight: bold;
    color: #555f70;
    text-decoration: none;
}

.form_title_header {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 0px;
    font-family: Calibri;
}

.login a {
    background-color: #585858;
    font-size: 13px;
    margin-top: 26px;
    margin-right: 50px;
    text-decoration: none;
    padding-right: 10px;
    float:right; 
    padding:5px 10px 5px 10px;
}

.login a:hover{
    color: #424242;
    background: #fff;
    text-decoration: none;
} 





/* RESERVE -------------------------------*/
#loggedIn {
    float: right;
    margin-top: 70px;
    margin-right: 100px;
}


    .sidebar {
        position: relative;
        background-color:#eeeeee;
        height: 550px;
        width: 300px;
        float: left;
        padding: 5px; 
        padding-top: 20px;
        margin-top: 80px;
    }

  
    .sidebar h3{
        font-family: Calibri;
        text-decoration: none;
        color: #555f70;
        padding-top: 30px; 
        font-weight: bold;
    }
        
    
    .sidebar_links{
        padding-left: 30px;
    }

    .sidebar li {
        font-family: Calibri;
        font-size: 18px;
        text-decoration: none;
        color: #555f70;
        font-weight: 100;
        position: relative;
    }

    .sidebar a {
        font-family: Calibri;
        font-size: 18px;
        text-decoration: none;
        color: #555f70;
        font-weight: 100;
        position: relative;
    }

    .sidebar a:hover {
        font-family: Calibri;
        font-size: 18px;
        text-decoration: none;
        color: #555f70;
        font-weight: bold;
        position: relative;
    }

    .content {
        margin-top: 80px;
        width: 1000px;
        height: auto;
        float: left;
        padding: 15px;   
        margin-left: 2px;    
        display: block;         
    }

    .content p {
        font-family: Calibri;
        font-size: 40px;
        text-decoration: none;
        color: #555f70;
        font-weight: 100;
        position: relative;
    }

    .content iframe{
        border-style: solid;
        border-width: 2px;
        border-color: #eeeeee;
        height: 550px;
    }




/* ROOMS (USER AREA)-------------------------------------------- */

    .roomType h3, .roomType h4{
        font-size: 40px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 40px;
        font-family: "Lucida Calligraphy";
    }

.accommodations{
        margin-top: 50px;
      
    }

    .accommodations h3 {
        font-size: 40px;
        font-weight: bold;
        padding-top: 60px;
        margin-left: 40px;
        font-family: "Lucida Calligraphy";
    }

    .accommodation_info {
        font-size: 20px;
        margin-left: 80px;
        margin-right: 80px;
        font-style: italic; 
        font-family: "Calibri";
    }

    .imgRow{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding-bottom: 20px;
        
    }

    .imgRow hr{
        width: 80%;
        margin-left: 10%;

    }

    .imgDescription{
        height: 330px;
        display: block;
        background-color: #d2d2d2;
        margin: 30px 80px 30px 100px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

     .imgDescription_res{
        display: inline-block;
        margin: 15px;
        margin-left: 25px;
    }


    .imgDescription_res p{
        text-align: left;
        margin-left: 0px;
        font-style: Calibri;
        color: #333;
        
    }

    .imgDescription img {
        width: 530px;
        height: 330px;
        margin: 0 10px 0px 0px;
        
    }

    .imgDescription p{
        text-align: left;
        margin-left: 50px;
        font-style: Calibri;
        color: #333;
        
    }


    .roomDescription{
        position: absolute;
        margin: -310px 80px 0 530px;
        
    }

    .imgDescription_right{
        height: 330px;
        display: block;
        background-color: #d2d2d2;
        margin: 30px 80px 30px 100px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    .imgDescription_right img {
        position: absolute;
        width: 530px;
        height: 330px;
        margin: 0px 10px 0 623px;
        
    }

    .roomDescription_right{
        margin: 50px 550px 0 10px;
        padding-bottom: 13px;
        
    }


    .roomTypeName{
        margin: 0 0 30px 250px;
        font-family: "Lucida Calligraphy";
        font-weight: bold;

    }

    .roomFeatures{
        font-style: italic; 
    }




/* SIGN UP ------------------------------------------*/

    .sign_up_page {
        height: 700px;
        width: 700px;
        padding-bottom: 100px;
        padding-left: 70px;
        margin-right: 420px;
        margin-left: 450px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .sign_up_details {
    font-family: Calibri;
    font-size: 16px;
    position: absolute;
    margin-left: -40px;
}

.sign_up_form {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 60px;
    position: absolute;
    width: 300px;
    height: 90px;
}

.sign_up_buttons {
    margin-left: 60px;
    margin-top: 25px;
    display: inline;
}

.Cancel_button_sign_up {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 23px 11px 23px;
        font-size: 15px;
        margin-right: 10px;
        position: absolute;
        margin-top: 40px;
        margin-left: 35px;
}

    .Save_button_sign_up {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 22px 11px 22px;
        font-size: 15px;
        margin-left: 45px;
        margin-top: 40px;
    }



/* CLIENT PROFILE ------------------------------------*/

.client_profile {
    float: left;
    margin-left: 100px;
    display: inline-block;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-top: 40px;
    width: 600px;
}



/* EDIT PROFILE ------------------------------------*/
h2, p {
    color: #424242;
}


.edit_profile {
    height: 620px;
    width: 410px;
    margin-right: 420px;
    float: left;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
 
.edit_details {
    font-family: Calibri;
    font-size: 16px;
    position: absolute;
    margin-left: -40px;
}

.edit_form {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 60px;
    position: absolute;
    width: 300px;
    height: 90px;
}

.edit_buttons {
    margin-left: 110px;
    margin-top: 25px;
    display: inline;
}

.Cancel_button_edit_profile {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 18px 11px 18px;
        font-size: 15px;
        margin-left: 110px;
        margin-top: 40px;
        margin-right: 10px;
        position: absolute;
}

    .Save_button_edit_profile {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 22px 11px 22px;
        font-size: 15px;
        margin-left: -10px;
        margin-top: 40px;
        margin-right: 10px;
        position: absolute;
    }



/* CONFIRM LOG OUT SA EDIT PROFILE --------------------------------- */

.confirm_logout{
    margin-top: 100px;
}

.confirm_logout button {
    font-family: Calibri;
    text-decoration: none;
    background: #424242;
    color: #fff;
    padding: 11px 22px 11px 22px;
    font-size: 15px;
    margin-top: 39px;
    position: relative;
}  

.confirm_logout button:hover{
    color: #424242;
    background: #fff;
    text-decoration: none;
}  



/* RESERVATION FORM -------------------------------------*/

.reservation_form {
    display: inline-block;
    padding-right: 100px;
    padding-left: 80px;
    padding-bottom: 150px;
    margin-top: 10px;
    margin-left: 30px;
}

.reserve-head{
    font-family: Calibri;
    font-size: 35px;
    padding-top: 15px;
    margin-left: 250px;
    margin-bottom: 25px;
}

.reserve-content {
    display: block;
}

.reserve-form-contain {
    display: inline;
    margin-top: 50px;
}

.reserve-details {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 20px;
}

.reserve-width-form {
    width: 350px;
}

.reserve-log-butt {
    font-family: Calibri;
    text-decoration: none;
    background: #424242;
    color: #fff;
    padding: 12px 25px 12px 25px;
    font-size: 13px;
    margin-left: 45px;
}

.reserve-form-contain input {
    float:right;
    margin-right: 30px;
}
.reserve-select{
    height: 50px;
    margin-left: 25px;
    margin-right: 10px;
}
.select-form{
    height: 50px;
    margin-left: 50px;
    margin-right: 30px;
}

.buttons {
    margin-top: 25px;
    display: inline;
}

.Save_button_reserve {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 17px 11px 17px;
        font-size: 15px;
        margin-top: 30px;
        position: absolute;
        margin-left: 40px;
    
}

    .Cancel_button_reserve {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 22px 11px 22px;
        font-size: 15px;
        margin-right: 10px;
        position: absolute;
        margin-top: 30px;
        margin-left: -80px;
    }



/* ROOM AVAILABILITY CHECKER ------------------------------------------------------------*/

   .reserved{
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    float: left;
    margin-left: 15px;
    display: inline-block;
}

    .availability_button {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 12px;
        font-size: 18px;
        position: absolute;
        margin-top: 15px;
        margin-left: -130px;
    }




/* RESERVATION (PAYMENT INFORMATION) ---------------------------------------------------- */

.payment_information {
    height: 620px;
    width: 410px;
    margin-right: 420px;
    float: left;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}




/* RECENT RESERVATION (INVOICE/RECEIPT) ---------------------------------- */

.recent_reservation {
    float: left;
    margin-left: 100px;
    display: inline-block;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-top: 40px;
    width: 600px;
}



/* MANAGE ROOMS ----------------------------------- */

.manage_rooms {
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}


/* EDIT ROOM --------------------------------------- */
.edit_room {
    width: 500px;
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 220px;
}

.edit_room_details {
    font-family: Calibri;
    font-size: 16px;
    position: absolute;
    margin-left: 10px;
}

.edit_room_form {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 130px;
    position: absolute;
    width: 300px;
    height: 90px;
}


.edit_room_buttons {
    margin-left: 70px;
    margin-top: 25px;
    display: inline;
}


/* MANAGE CLIENTS ----------------------------------- */

.manage_clients {
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

/* ADMIN PROFILE ------------------------------------*/

.admin_profile {
    float: left;
    margin-left: 100px;
    display: inline-block;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-top: 40px;
    width: 600px;
}


/* MANAGE ADMINS ------------------------------------*/
.manage_admins {
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}


/* EDIT ADMINS ------------------------------------*/
.edit_admin {
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 220px;
    float: left;
}

.edit_admin_details {
    font-family: Calibri;
    font-size: 16px;
    position: absolute;
    margin-left: 25px;
}

.edit_admin_form {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 130px;
    position: absolute;
    width: 300px;
    height: 90px;
}

.edit_admin_buttons {
    margin-left: 70px;
    margin-top: 25px;
    display: inline;
}

.Cancel_button_edit_admin {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 17px 11px 17px;
        font-size: 15px;
        margin-right: 10px;
        position: absolute;
        margin-top: 40px;
        margin-left: 35px;
}

    .Save_button_edit_admin {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 22px 11px 22px;
        font-size: 15px;
        margin-left: 60px;
        margin-top: 40px;
        position: relative;
    }



/* ADD NEW ADMINS ------------------------------------*/
.add_new_admin {
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 200px;
    float: left;
}

.add_admin_details {
    font-family: Calibri;
    font-size: 16px;
    position: absolute;
    margin-left: 25px;
}

.add_admin_form {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 130px;
    position: absolute;
    width: 300px;
    height: 90px;
}

.add_admin_buttons {
    margin-left: 100px;
    margin-top: 25px;
    display: inline;
}

.Cancel_button_add_admin {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 17px 11px 17px;
        font-size: 15px;
        margin-right: 10px;
        position: absolute;
        margin-top: 40px;
        margin-left: 35px;
}

    .Save_button_add_admin {
        font-family: Calibri;
        text-decoration: none;
        background: #424242;
        color: #fff;
        padding: 11px 22px 11px 22px;
        font-size: 15px;
        margin-left: 60px;
        margin-top: 40px;
        position: relative;
    }


/* RESERVATIONS (ADMIN AREA) ----------------------------------------------*/
.reservations {
    display: inline-block;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}