@font-face {
    font-family: "Strait-Regular";
    src: url(../Fonts/strait/Strait-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../Fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../Fonts/Montserrat/Montserrat-Regular.otf");
}

.body {
    margin: 0;
    background-color: rgb( 248, 244, 244);
    padding: 0;
}

.body-inline {
    display: inline;
}



.link-head-text {
    font-family: "Roboto-Light";
    font-size: 19px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    position: relative;
    outline: none;
    border: 0 none;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.nav-text {
    cursor: pointer;
    display: inline;
    text-decoration: none;
}



.dropdown-content a {
    color: #fff;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    font-family: "Roboto-Light";
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes downdown {
    0 {
        margin-top: 0;
    }
    50% {
        margin-top: 12px;
    }
    100% {
        margin-top: 0px;
    }
}

.moving-down {
    animation-name: downdown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.scroll-ico {
    text-align: center;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    margin-top: 20px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 20%;
    -webkit-appearance: none;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}


/*login-page style-------------------------------------*/
.log-container {
    height: auto;
    padding: 25px 50px 60px 90px;
    background-color: #efefef;
    margin-right: 420px;
    margin-left: 450px;
    margin-top: 120px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
#log-text {
    color: #000;
    text-decoration: none;
    font-family: "Montserrat-Regular";
}
.form-size {
    width: 280px;
    height: 6px;
}
.item {
    height: 200px;
    background: RED;
    width: 100%;
    color: #000;
}
.reset-margin {
    margin: 0;
}
.font-log {
    font-size: 14.5px;
    margin: 0;
    padding: 0;
}
.log-butt {
    font-family: "Roboto-Light";
    text-decoration: none;
    background: #424242;
    color: #fff;
    padding: 12px 25px 12px 25px;
    font-size: 13px;
}
.notAmember-yet {
    font-size: 18px;
    color: #424242;
    text-decoration: none;
    font-family: "Montserrat-Regular";
    margin-left: 10px;
}
#create-acc {
    text-align: center;
    font-family: "Roboto-Light";
}
.not-member-container p {
    padding-right: 0;
}
.head-image {
    height: 480px;
    background-size: contain;
}
.font-Roboto {
    font-family: "Roboto-Light";
}



/* SLIDESHOW*/
@keyframes slideshow-container {
    0% {
        left: 0;
    }
    
    20% {
        left: 0%;
    }
    
    25% {
        left: -100%;
    }
    
    45% {
        left: -100%;
    }
    
    50% {
        left: -200%;
    }
    
    70% {
        left: -200%;
    }
    
    75% {
        left: -300%;
    }
    
    95% {
        left: -300%;
    }
    
    100% {
        left: -400%;
    }
}
.slideshow-container {
    margin: 0;
    overflow: hidden;
}
.slideshow-container figure img {
    width: 20%;
    float: left;
}
.slideshow-container figure {
    width: 500%;
    margin-top: 0px;
    position: relative;
    left: 0;
    text-align: left;
    animation: 20s slideshow-container infinite;
}


/*ABOUT GREY HOTEL style*/
.About-hotel-container {
    margin: 60px;
    display: inline-block;
}
.grey-img {
    height: 500px;
    width: auto;
    position: relative;
}
.About-greyHotel {
    text-decoration: none;
    text-align: left;
    font-family: "Montserrat-Regular";
    font-size: 35px;
    color: #000;
    display: inline;
}
.abouthotel-temp-content {
    font-size: 20px;
    color: #000;
    padding: 20px 240px 10px 0px;
    font-family: "Calibri";
    text-decoration: none;
    text-align: justify-all;
}

.grey-hotel-dav {
    font-family: "Strait-Regular";
    font-size: 25px;
    color: #000;
}

/* TABLES */
.table th, td{
    width: auto;
    padding: 20px;
    text-align: center;
}